<mat-card>
  <mat-card-content>
    <div class="full-width">
      <div class="text-control">
        <mat-form-field class="full-width">
          <textarea class="text" id="textInput" matInput placeholder="Tekstas" [(ngModel)]="text"></textarea>
        </mat-form-field>
        <button class="next-text-button" id="nextTextButton" mat-stroked-button (click)="nextText()"
          matTooltip="Kita patarlė">
          <i class="material-icons">navigate_next</i>
        </button>
      </div>
      <div class="controls-container">
        <mat-checkbox class="condition-check" color="primary" [(ngModel)]="conditionChecked"></mat-checkbox>
        <p class="condition-text" (click)="debugModeClick()" id="conditionText">Patvirtinu, kad turiu teisę pateikti
          tekstą ir tuo nepažeidžiu intelektinės nuosavybės
          apsaugos įstatymų.</p>
      </div>
      <div class="controls-check-container">
        <mat-checkbox class="condition-check" color="primary" [(ngModel)]="conditionAllowCollect"></mat-checkbox>
        <p class="condition-text">Noriu dalyvauti <a href="{{partnershipURL}}" rel="noopener"
            target="_blank">partnerystės programoje</a> ir gauti
          15% nuolaidą šiai užklausai.</p>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="settings-panel">
          <mat-expansion-panel-header class="settings-header">
            <mat-panel-title>
              Nustatymai
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="settings-container">
            <mat-form-field class="model-field" appearance="fill">
              <mat-label>Diktorius</mat-label>
              <mat-select [(value)]="model">
                <mat-option [value]="m" *ngFor="let m of models" matTooltip="{{m.description}}">{{ m.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="speed-field">
              <div>
                <label id="speedLabel" class="speed-label">Kalbėjimo greitis</label>
              </div>
              <mat-slider id="speedSlider" thumbLabel [(ngModel)]="speed" [displayWith]="formatSpeed" tickInterval="10" step="10"
                min="0" max="200" aria-labelledby="speedLabel" color="primary" class="speed-slider"></mat-slider>
            </div>
            <mat-form-field *ngIf="debugMode" class="text-format-field" appearance="fill" id="textFormatSelect">
              <mat-label>Teksto formatas</mat-label>
              <mat-select [(value)]="textFormat">
                <mat-option value="normalized" matTooltip="Normalizuotas">Normalizuotas</mat-option>
                <mat-option value="accented" matTooltip="Kirčiuotas">Kirčiuotas</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="result-controls-container">
        <button class="synthesis-button" id="synthesisButton" mat-raised-button [disabled]="!canSynthesize"
          color="primary" (click)="synthesize()">Skaityti</button>
        <div class="result-container" *ngIf="sending">
          <mat-progress-spinner id="synthesisSpinner" class="upload-spinner" color="primary" mode="indeterminate"
            diameter="35">
          </mat-progress-spinner>
        </div>
        <div class="result-container" id="errorDiv" *ngIf="!sending && errorText && errorText != ''">
          <div class="error-container"><span class="error-text">{{errorText}} </span></div>
        </div>
        <div class="audio-container" [style.display]="(sending || (errorText && errorText !== '')) ? 'none' : 'flex'">
          <div class="audio-comp-div">
            <audio class="audio-comp" controls id="player"></audio>
          </div>
          <div *ngIf="isFirefox" class="download-button-div">
            <a mat-button *ngIf="audio" id="audioDownloadButton" class="download-button" href="{{audio.src}}"
              target="_blank" download="download.mp3">
              <i class="material-icons">cloud_download</i></a>
          </div>
        </div>
      </div>
      <div class="modified-component" [style.display]="modifiedPanelDisplay">
        <div class="text-control">
          <mat-form-field class="request-input">
            <input class="request" id="requestInput" matInput placeholder="Užklausos ID" [(ngModel)]="requestID">
          </mat-form-field>
        </div>
        <div class="text-control">
          <mat-form-field class="full-width">
            <textarea class="text" id="textModifiedInput" matInput placeholder="Pakoreguotas tekstas"
              [(ngModel)]="textModified"></textarea>
          </mat-form-field>
        </div>
        <div class="controls-container">
          <button class="synthesis-modified-button" id="synthesisButtonModified" mat-raised-button
            [disabled]="!canSynthesizeModified" color="primary" (click)="synthesizeModified()">Skaityti
            pataisytą</button>
          <div class="result-container" *ngIf="sendingModified">
            <mat-progress-spinner id="synthesisSpinnerModified" class="upload-spinner" color="primary"
              mode="indeterminate" diameter="35">
            </mat-progress-spinner>
          </div>
          <div class="result-container" id="errorDivModified"
            *ngIf="!sendingModified && errorTextModified && errorTextModified != ''">
            <div class="error-container"><span class="error-text">{{errorTextModified}} </span></div>
          </div>
          <div class="audio-container"
            [style.display]="(sendingModified || (errorTextModified && errorTextModified !== '')) ? 'none' : 'flex'">
            <div class="audio-comp-div">
              <audio class="audio-comp" controls id="playerModified"></audio>
            </div>
            <div *ngIf="isFirefox" class="download-button-div">
              <a mat-button *ngIf="audioModified" id="audioDownloadButtonModified" class="download-button"
                href="{{audioModified.src}}" target="_blank" download="download.mp3">
                <i class="material-icons">cloud_download</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>